@font-face {
    font-family: 'Roboto Condensed';
    src: url('../Font/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url('../Font/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Iran-sans';
    src: url('../Font/IRANSansWeb.eot'), url('../Font/IRANSansWeb.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yekan';
    src: url('../Font/Yekan.eot'), url('../Font/Yekan.woff'), url('../Font/Yekan.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
}

* {
    outline: none !important;
}

a {
    cursor: pointer;
}

    a:hover {
        text-decoration: none;
    }

.padding {
    padding: 0 15px;
}

.padding-full {
    padding: 15px;
}

.no-display {
    display: none;
}

.display-none {
    display: none !important;
}

.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.devider-10 {
    height: 10px;
    clear: both;
}

.devider-15 {
    height: 15px;
    clear: both;
}

.devider-30 {
    height: 30px;
    clear: both;
}

.display-inline-block {
    display: inline-block;
}

.fit-width {
    width: 100%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.relative {
    position: relative;
}

.clear {
    clear: both;
}

.justify {
    text-align: justify;
}

.full-ltr-part, .full-ltr-part * {
    direction: ltr;
}

.full-rtl-part, .full-rtl-part * {
    direction: ltr;
}

.margin-auto {
    margin-right: auto;
    margin-left: auto;
}

.gm-style-iw {
    font-family: 'Iran-sans' !important;
    font-size: 10px !important;
}

.merchant-container {
    text-align: center;
}
    .merchant-container .merchant-item {
        background-color: white;
        border-radius: 50% 50%;
        max-width: 150px;
        max-height: 150px;
        border: 1px solid #bbbbbb;
        margin: 10px;
        cursor: pointer;
        display:inline-block;
        padding:10px;
    }

        .merchant-container .merchant-item .merchant-img {
            width: 100%;
            height: 100%;
            border-radius: 50% 50%;
            margin-bottom: 20px;
        }

.payment-page {
    background-color: lightgray;
    padding-top:100px;
}

.content-payment-box {
    background-color:white;
    margin:0 auto;
    font-family:Iran-sans;
    width:100%;
    max-width:350px;
    padding:50px 30px 30px;
    text-align:center;
    border-radius:5px;
    box-shadow:0 0 10px gray;
}

.payment-back-link {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;;
    background-color: lightgray;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    margin-top: 30px;
    font-size: 11px;
}

.basket-payment-icon {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.basket-payment-success, .basket-error-icon {
    display: inline-block;
    font-size: 30px;
    padding: 25px;
    border-radius: 50% 50%;
    margin-bottom: 20px;
}

.basket-payment-success {
    border: 5px solid #00C700;
}

    .basket-payment-success i {
        color: #00C700;
    }

.basket-error-icon {
    border: 5px solid red;
}

    .basket-error-icon i {
        color: red;
    }

.map-select-button {

}

.map-select-image {
}

.windows8 {
    position: relative;
    width: 78px;
    height: 78px;
    margin: auto;
}

    .windows8 .wBall {
        position: absolute;
        width: 74px;
        height: 74px;
        opacity: 0;
        transform: rotate(225deg);
        -o-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        animation: orbit 5.1425s infinite;
        -o-animation: orbit 5.1425s infinite;
        -ms-animation: orbit 5.1425s infinite;
        -webkit-animation: orbit 5.1425s infinite;
        -moz-animation: orbit 5.1425s infinite;
    }

        .windows8 .wBall .wInnerBall {
            position: absolute;
            width: 10px;
            height: 10px;
            background: rgb(0,0,0);
            left: 0px;
            top: 0px;
            border-radius: 10px;
        }

    .windows8 #wBall_1 {
        animation-delay: 1.126s;
        -o-animation-delay: 1.126s;
        -ms-animation-delay: 1.126s;
        -webkit-animation-delay: 1.126s;
        -moz-animation-delay: 1.126s;
    }

    .windows8 #wBall_2 {
        animation-delay: 0.223s;
        -o-animation-delay: 0.223s;
        -ms-animation-delay: 0.223s;
        -webkit-animation-delay: 0.223s;
        -moz-animation-delay: 0.223s;
    }

    .windows8 #wBall_3 {
        animation-delay: 0.4465s;
        -o-animation-delay: 0.4465s;
        -ms-animation-delay: 0.4465s;
        -webkit-animation-delay: 0.4465s;
        -moz-animation-delay: 0.4465s;
    }

    .windows8 #wBall_4 {
        animation-delay: 0.6695s;
        -o-animation-delay: 0.6695s;
        -ms-animation-delay: 0.6695s;
        -webkit-animation-delay: 0.6695s;
        -moz-animation-delay: 0.6695s;
    }

    .windows8 #wBall_5 {
        animation-delay: 0.903s;
        -o-animation-delay: 0.903s;
        -ms-animation-delay: 0.903s;
        -webkit-animation-delay: 0.903s;
        -moz-animation-delay: 0.903s;
    }


.address-item {
    padding: 15px 15px 15px 15px;
    line-height: 30px;
}

    .address-item .select-address {
        height: 150px;
        font-size: 30px;
        padding-top: 65px;
        float: right;
        text-align: center;
        border-left: 1px solid #bbbbbb;
    }

        .address-item .select-address input[type='radio'] {
            display: none;
        }

    .address-item .map {
        width: 100%;
        border: 1px solid #bbbbbb;
        border-radius: 5px;
        height: 150px;
    }

    .address-item .address-content, .address-item i {
        color: #bbbbbb;
        cursor: pointer;
    }

    .address-item.active {
        border: 1px solid black;
    }

        .address-item.active .address-content {
            color: black;
        }

        .address-item.active .select-address i {
            color: #00C700;
        }

    .address-item i.fa-check-circle-o {
        display: none;
    }

    .address-item.active i.fa-check-circle-o {
        display: block;
    }

    .address-item.active i.fa-circle-o {
        display: none;
    }

    .address-item .edit-content {
        text-align: center;
        padding-top: 35px;
        font-size: 20px;
    }

.add-address {
    padding: 15px;
    cursor: pointer;
    color: #bbbbbb;
}

    .add-address:hover {
        color: black;
        border-color: black;
    }

.single-product-rate {
    font-size: 22px;
    color: #fee500;
    text-shadow: 0 0 2px black;
    direction: ltr;
}

    .single-product-rate span {
        cursor: pointer;
    }

        .single-product-rate span i.fa-star {
            display: none;
        }

        .not-selected span:hover i.fa-star, .single-product-rate span.active i.fa-star {
            display: inline-block;
        }

        .not-selected span:hover i.fa-star-o, .single-product-rate span.active i.fa-star-o {
            display: none;
        }



.profile-container {
    direction: rtl;
    text-align: right;
    font-size: 13px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #f5f5f5;
}

    .profile-container a:hover {
        text-decoration: none;
    }

    .profile-container .card-header h5 {
        margin: 5px 0;
        font-size: 17px;
        font-weight: bold;
    }

    .profile-container .card {
        box-shadow: 0 0 5px rgba(0,0,0,.125);
    }

    .profile-container .favorite-container .card {
        margin-bottom: 30px;
    }

    .profile-container .modal-header {
        background-color: rgba(0,0,0,.03);
    }

    .profile-container .padding-30 {
        padding: 30px;
    }

    .profile-container .comment-item {
        padding: 30px;
    }

        .profile-container .comment-item label {
            margin-top: 5px;
            padding-left: 10px;
        }

        .profile-container .comment-item a {
            font-weight: bold;
            color: black;
        }

        .profile-container .comment-item time {
            font-weight: bold;
            font-size: 10px;
            margin-bottom: 20px;
            display: inline-block;
            color: #979797;
        }

        .profile-container .comment-item p {
            font-size: 12px;
            line-height: 25px;
        }

    .profile-container .comment-image {
        padding: 2px;
    }

    .profile-container .giv-only-menu {
        display: none !important;
    }
    
    .profile-modal .close {
        left: 0;
        position: absolute;
    }

.modal-address .form-group {
    margin: 0;
}

.profile-container .col-form-label {
    font-size: 12px;
}

.profile-container .list-group {
    padding: 0;
}

    .profile-container .list-group .list-group-item {
        transition: 0.2s;
    }

        .profile-container .list-group .list-group-item:hover, .list-group .list-group-item.active {
            background-color: #EAEAEA;
            padding-right: 30px;
            border-color: rgba(0,0,0,.125);
        }

        .profile-container .list-group .list-group-item i {
            display: inline-block;
            width: 20px;
        }

        .profile-container .list-group .list-group-item a {
            display: inline-block;
            width: 100%;
            color: black;
        }

            .profile-container .list-group .list-group-item a:hover {
                text-decoration: none;
            }

        .profile-container .list-group .list-group-item span {
            display: inline-block;
        }

.profile-container .nav-profile {
    display: flex;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

    .profile-container .nav-profile li {
        flex: 1;
        padding: 10px 0;
        border: 1px solid #ddd;
    }

        .profile-container .nav-profile li a {
            color: black;
        }

.profile-gray-background {
    background-color: #f7f7f7;
}

.profile-container .avatar-container {
    position: relative;
    height: 110px;
    text-align: center;
}

.profile-container .avatar {
    text-align: center;
}

.profile-container .avatar-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 57px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    background-color: #f7f7f7;
    border-radius: 5px 5px 0 0;
}

.profile-container .avatar-img {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    width: 100%;
    margin-bottom: 10px;
}

    .profile-container .avatar-img img {
        width: 80px;
        height: 80px;
        border: 2px solid black;
        border-radius: 50%;
        margin: 0 auto;
        background-color: white;
    }

.profile-container .last-order {
    margin: 0;
    padding: 15px 30px 15px 15px;
}

.profile-container .table-orders a {
    font-size: 11px;
    font-weight: bold;
}

.profile-container .icon-favorite-remove {
    float: left;
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 15px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.5);
    color: rgba(0,0,0,.5);
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,.125);
}

    .profile-container .icon-favorite-remove:hover {
        border-color: black;
        color: black;
    }

.profile-container .modal {
    direction: rtl;
    text-align: right;
}

.profile-container a.btn-primary {
    color: white !important;
}

.order-row {
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    max-height: 48px;
    overflow: hidden;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.order-col {
    float: right;
    width: 16%;
    text-align: center;
    font-size: 13px;
}

.order-th .order-col {
    color: #999;
}

.order-row-expanded {
    margin: 20px 0;
}


.address-one {
    display: flex;
    padding: 30px;
    background: rgba(0, 0, 0, 0.01);
    position: relative;
    margin-bottom: 15px;
    transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    width: 100%;
}

    .address-one:hover {
        background: rgba(0, 0, 0, 0.03);
    }

    .address-one.selected-address {
        background: rgba(0, 0, 0, 0.03);
        border: 1px solid rgba(165, 143, 121, 0.3);
    }

#toast-container{
    direction: rtl !important;
    text-align: right !important;
}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin: 0%;
    }

    30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin: 0%;
    }

    30% {
        opacity: 1;
        -o-transform: rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin: 7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin: 30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 70%;
    }

    76% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 0%;
    }

    30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin: 7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 70%;
    }

    76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0%;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 0%;
    }

    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin: 7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 70%;
    }

    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}

@media (min-width: 768px) {
    .xs-visible {
        display: none !important;
    } 
}

@media (max-width: 767px) {
    .xs-visible {
        display: block !important;
    } 
    
    #toast-container {
        left: 15px;
        right: 15px !important;
    }

    #toast-container .toast {
        width: 100%;
    }

    body.modal-open {
        margin-left:0;
    }

    .modal-dialog {
        padding:15px;
    }

    .padding-xs {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .no-padding-xs {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .no-padding-xs-left {
        padding-left: 0 !important;
    }

    .no-padding-xs-right {
        padding-right: 0 !important;
    }

    .xs-center {
        text-align:center !important;
    }

    .no-border-xs {
        border: none !important;
    }

    .menu-account{
        margin: 0px 0 15px;
        display: none;
    }

    .menu-account.visible-on-mobile {
        display:block;
    }

    .profile-container .list-group {
        display: block;
        padding: 5px;
    }

        .profile-container .list-group .list-group-item {
            padding: 5px 10px;
            text-align: right;
            border: 1px solid #dfdddd;
            margin-top: 10px;
            border-radius: 5px;
            width: 46%;
            display: inline-block;
            margin: 8px 4px;
        }

            .profile-container .list-group .list-group-item span {
                font-size: 14px;
            }

            .profile-container .list-group .list-group-item a {
                color: #4c4c4c;
                font-size: 9px;
            }
            .profile-container .list-group .list-group-item i{
                font-size:14px;
                width:unset;
            }

            .profile-container .card-body {
                padding: 10px;
            }

    .title-oders span {
        font-size: 11px;
    }

    .orders-history span {
        font-size: 11px;
    }

    .order-history-list {
        overflow-x: auto;
    }

    .order-row {
        max-height: 35px;
        width: 650px !important;
    }

    .order-col {
        font-size: 12px !important;
    }

    .detailes-order a {
        font-size: 11px;
    }

    .detailes-order i {
        font-size: 12px !important;
    }

    .table-detailse-mob {
        margin: 10px 0;
        width: 100%;
    }

        .table-detailse-mob table {
            width: 100%;
        }

    .order-row.show-table {
        max-height: 100%;
    }
    .order-row {
        width: 100%;
        padding: 10px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        max-height: 48px;
        overflow: hidden;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
    }

    .order-col {
        float: right;
        width: 16%;
        text-align: center;
        font-size: 13px;
    }

    .order-th .order-col {
        color: #999;
    }

    .order-row-expanded {
        margin: 20px 0;
    }
    .profile-container{
        padding-top:70px !important;
    }
    .card-return-profile {
        margin: 10px 0;
        font-size: 15px;
        background: #fff;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgb(0 0 0 / 13%);
    }
    .card-return-profile span{
        margin: 0 10px;
    }
        .card-return-profile i {
            font-size: 17px;
            color: #949494;
        }
}

/* GOOGLE RECAPTCHA RESPONSIVE */
@media screen and (max-height: 575px) {

    .recaptcha-container * {
        direction: ltr !important;
    } 
    
    #rc-imageselect, .g-recaptcha {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
.detailes-order i{
    font-size:18px;
}
.detailes-order.displaced i {
    transform: rotate(180deg);
}
.datails-table {
    display: none;
    padding:20px 0;
}
.datails-table.show-up{
    display:block;
}
.title-oders{
    border-bottom:1px solid #aaa;
    padding:10px 0;
    text-align:center;
}
.title-oders span{
    font-weight:600;
}
.orders-history {
    text-align :center;
    border-bottom:1px solid #bbbbbb;
    padding:10px 0;
    align-content:center;
}
.orders-history span{
    font-weight:600;
}